.header {
    text-decoration: none;
    color: white;
}
.link {
    text-decoration: none;
    color: white;
}
.button {
    text-decoration: none;
    color: white;
}
.container {
    display: contents;
    
}