.record-miniature-div {
    text-align: center;
    background-color: #000000dc;
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    position: relative;

}
.record-miniature {
    scale: 70.312%;
    box-shadow: 5px 5px 30px black;
    max-inline-size: -webkit-fill-available;
    width: auto;
    height: auto;
    margin: 20px;
}
.bestsellers {
    background-color: #000000dc;
    width: 100%;
    display: grid;
    justify-content: center;
    position: relative;
    color: white;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
}